<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                    <h1>Calculators</h1>
                                    <p>
                                        For your convenience, we are providing several on-line loan calculators to assist
                                        you in your financial planning. Following the links below or using the navigational
                                        buttons on the left will take you to your choice.
                                    </p>
                                    <ul class="pad">
                                        <li><%= link_to 'Loan Calculator', loancalc_path %></li>
                                        <li><%= link_to 'Savings Calculators', savcalc_path %></li>
                                        <li><%= link_to 'Mortgage Calculators', fixedmortgage_path %></li>
                                    </ul>
                                    <p>Our loan officers are waiting to assist you in every way possible.
                                      Please contact us today for assistance with your financial needs!</p>
                                </div>
                            </div>