<%= javascript_include_tag "style" %>
<%= javascript_include_tag "frmcv" %>
<table WIDTH=500>
  <tr> 
    <td> <CENTER>
      </CENTER>
      <% form_tag(fixedmortgager_path, :method => :get) do %>
        <CENTER>
          <table Border=1 Cellpadding=7>
            <tr> 
              <td COLSPAN=2 BGCOLOR=#FFFFEE> 
                <CENTER>
                  <span class=FontThree> Fixed Rate Mortgage Calculator</span>
                </CENTER>
              </td>
            </tr>
            <tr> </tr>
            <tr> 
              <td BGCOLOR=#EEEEEE> <span class=FontFour> Loan Amount: </span> 
              </td>
              <td BGCOLOR=#EEFFEE> 
                <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus=select(); onBlur = checkLA(this.form); NAME = LoanAmount VALUE=250000 >
              </td>
            </tr>
            <tr> 
              <td BGCOLOR=#EEEEEE> <span class=FontFour> Interest Rate: </span> 
              </td>
              <td BGCOLOR=#FFEEEE> 
                <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus=select(); onBlur = checkIR(this.form); NAME = InterestRate VALUE=8 >
              </td>
            </tr>
            <tr> 
              <td BGCOLOR=#EEEEEE> <span class=FontFour> Number of Months: </span> 
              </td>
              <td BGCOLOR=#EEEEFF> 
                <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus=select(); onBlur = checkM(this.form); NAME = NumberOfMonths VALUE=360 >
              </td>
            </tr>
            <tr> 
              <td BGCOLOR=#EEEEEE> <span class=FontFour> Additional Principal 
                Per Month: </span> </td>
              <td BGCOLOR=#FFEEFF> 
                <input style="font-family: Verdana, Arial; font-size: 8pt" onFocus=select(); onBlur = checkAP(this.form); NAME = AdditionalPrincipal VALUE=0 >
              </td>
            </tr>
            <tr> 
              <td COLSPAN=2 BGCOLOR=#FFFFEE> <span class=FontFive> 
                <input Type="radio" NAME="calculate_option" VALUE="0" CHECKED>
                Calculate Payment Only<BR>
                <input Type="radio" NAME="calculate_option" VALUE="1">
                Calculate Payment and Display Amortization Schedule<BR>
                </span> </td>
            </tr>
          </table>
		  <%= javascript_include_tag "enda" %>
        </center>
      <% end %>
</table>
