<SCRIPT Language="JavaScript">
function closeWindow() {
	window.close();
}
</SCRIPT>
<%= javascript_include_tag "style" %>

<center>
<span class=FontThree>Savings Calculator Help
</span>
</center>
<br>

<span class=FontFour>Savings Calculator will compute the beginning balance, the ending balance, or the periodic contribution given two of the above three elements, the interest rate, and the number of periods involved in the calculation, and will provide you with a complete savings schedule over the life of the savings account's term.</span><br>
<br>

<span class=FontFour>Savings Calculator will compound the interest at a rate of your choosing. You can choose between daily, weekly, monthly, and annual compounding periods. You can also apply the effects of inflation at a rate of your choosing.</span><br>
<br>

<span class=FontFour>To use Savings Calculator, simply enter the desired values in the boxes provided. Do not use any punctuation marks, including dollar signs, commas, and percentage signs. For example, to calculate the ending balance of a savings account where the beginning balance is $10,000 and a monthly deposit of $500 is made for 27 months at 6% interest rate, you would choose the "Calculate the Ending Balance" option, enter 10000 in the Principal box, 6 in the Interest Rate box, 500 in the Periodic Contribution box, 27 in the Number of Periods box, and you would choose the "Compound on a Monthly Basis" option. To apply the effects of a 2% annual inflation rate on the annual contributions, you would check the "Adjust for Inflation" check box and enter a 2 in the Inflation Rate box. To show the ending balance in current dollars as current, check the "Show Ending Balance in Current Dollars" check box. When you click the calculate button your result appears along with the values you entered.</span><br>
<br>
 
<span class=FontFour>Please note: Do not enter negative values. If you do, Savings Calculator will automatically enter a zero for that value, and will provide you with unreliable results.</span><br>
<br>

<span class=FontFour>Please note: If you are calculating a long-term schedule (any term more than ten years), it could take up to 10 seconds or more to complete the schedule. Since this is the case, you may get a message from your browser to terminate the script because it is causing the browser to run slowly. Please click NO to this message. If you click yes, you will get unreliable results.</span><br>
<br>

<span class=FontFour>If you wish to make another calculation, just click on the Recalculate button. And if you make an error inputting your values, simply click on the Reset button to start over.</span><br>
<br>

<center><span class=FontFour><a href="javascript:closeWindow()">Click here</a> to close this window.</span>
</center>
