body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	background-color: #094369;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	background-position: center;
	font-family: arial;
	font-style: normal;
	font-size: 12px;
}


#container {
	width: 774px;
	height: auto;
	margin: 0px auto 5px auto;
	background-color:#ADC7D7;
}


#header {
	text-decoration: none;
}

#header img {
	display: block;
	border: 0 none;
	margin: 0 none;
}

#topdivider {
	background-image: url(../images/top_separator.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	height: 22px;
	padding-right:30px;
	padding-top: 7px;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
}

div#bottomdivider {
	background-image: url(../images/bottom_separator2.jpg);
	background-position:top;
	background-repeat: no-repeat;
	height: 35px;
	background-color: 094369;
}

#outercontent {
	background-image: url(../images/main_bg.jpg);
	background-repeat: repeat-y;
}

#outercontent #outerleft {
	float: left;
	width: 184px;
} /* FOR DOWNMENU*/

#outercontent #outerright {
	float: left;
	padding: 0 none;
	width: 585px;
	padding-left: 5px;
	border-right: 5 px solid red;
	display: block;
}

div#main {
	padding: 5px 20px 10px 20px;
}

li {
	display: block;
}

img.right {
	float: right;
}

.bottomborder {
	padding: 20px 0 20px 0;
	border-bottom: 1px solid gray;
}

ul.spaced {
	line-height: 35px;
}

ul.pad li {
	padding-bottom: 12px;
}
.pad {
	padding:6px;
}
/* To highlight the error messages in red */
ul.errormsg
{
	color:#FF0000;
}


/*******************/
/*   SLIDESHOW     */
/*******************/
a.slideshow {
	position: relative;
}

a.slideshow img#slide {
	position: relative;
	z-index: 3;
}

a.slideshow img#slide2 {
	position: absolute;
	left: 0;
	z-index: 2;
}








/*******************/
/*     TABLES      */
/*******************/



table {
	margin-left:auto; 
	margin-right:auto; 
}
table tr{
	font-weight: bold;
}


table.login {
	background: #cccccc;
	font-size: 10px;
	width: 184px;
	text-align: center;	
}
table.login th {
	background-image: url(../images/hbheader.jpg);
	background-repeat: no-repeat;
	text-transform: uppercase;
	color: #094369;
	font size: 12px;
	padding: 5px 0 5px 0;
}
table.login td{
	text-align: right;	
}


table#prefooter {
	width: 184px;	
	text-align: center;
	height: 125px;
}
table#prefooter td{
	vertical-align: middle;
}
table#prefooter td.thick{
	line-height: 22px;
	font-weight: bold;
}


table.default {
	margin: 0 auto 0 auto;
	padding: 7px;
}
table.default th{
	font-weight: bold;
}


table.mortgage {
	width: 280px;
	margin: 0 auto 0 auto;
	background: #e2e6eb;
	text-align: right;
	border: 1px solid #094369;
}
table.mortgage td {
	padding: 3px 5px 3px 5px;
}
table.mortgage td.button {
	background: #f1f3f5;
	text-align: center;
	border-top: 1px solid #094369;
	border-bottom: 1px solid #094369;
}
table.mortgage th {
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 1px;
	padding: 5px;
}




table.savings {
	border: #0565A4 2px solid;
	width: 360px;
	padding: 3px;
}
table.savings th {
	color: #0565A4;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 14px;
}
table.savings td.button {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #0791b8;
	border-bottom: 1px solid #0791b8;
}
table.savings td {
	padding: 3px 5px 3px 5px;
}




table.rates {
	font-size: 11px;
}
table.rates th {
	background: #0a4369;
	color: #ffffff;
	font-weight: bold;
}
table.rates td {
	padding: 4px;
	font-size: 11px;
	border: solid 1px gray;
}
table.rates tr.dark {
	background: #d2d2d2;
	font-size: 11px;
}




table.contact {
	width: 500px;
	padding: 5px;
	text-align: center;
}
table.contact td {
	padding: 2px 5px 2px 5px;
}
table.contact td.left {
	text-align: left;
}




table.fees td {
	border: solid 1px gray;
	padding: 3px;
	border-spacing: 0 none;
	border-left-color: #CCC;
}


table.prefoot td{
	width: 30%;
	padding: 5px;
}


fieldset {
	border: 0 none;
}


/*********END TABLES********/







/*****************/
/*     TEXT     */
/*****************/

h1 {
	color: #094369;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
}

h2 {
	color: #094369;
	display: inline;
	font-size: 15px;
}
h3 {
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	display: inline;
}  /* works with .blu for scams.asp header */
.blu {
	color: #ffffff;
	font-size: 13px;
	background-image: url(../images/blugradient.jpg);
	background-repeat: repeat-x;
	width: 545px;
	height: 20px;
	padding: 2px;
	text-align: center;
} /* works with h3 for scams.asp header */

h4 {
	color: #800000;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
}


.redbold {
	color: red;
	font-weight: bold;
}


.brown {
	color: #663300;
	text-align: center;
}

p.smallprint {
	font-size: 10px;
	color: #666;
	vertical-align: middle;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
}

a {
	font-size: 12px;
	color: #0A446A;
}
a.bold {
	font-size: 12px;
	color: #0A446A;
	text-decoration:underline;
	font-weight:bold;
}
a.bold:link {
	text-decoration: underline;
}
a.bold:visited {
	text-decoration: underline;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #094369;
}
a:hover {
	text-decoration: underline;
	color: #04734d; /*green rollover*/
}
a:active {
	text-decoration: none;
	color: #04743D;
}

/*inherited from old site*/
.style2 {font-size: 14px; font-weight: bold; color: #0A4369;}
.style3 {font-size: 14}
.style5 {font-size: 14px}
.style6 {color: #094369;font-weight: bold;}
.style8 {color: #0A4369;font-weight: bold;margin-right: 35px;}
.style10 {font-size: 10px}
.style11 {font-style: italic}
.style13 {color: #0A4369;font-weight: bold;}
.style16 {font-size: 9pt}
.style18 {font-size: 9px}


/*********END TEXT ********/





/*****************/
/*    FIXINS     */
/*****************/

.invisible {
	display: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.centertext {
	text-align: center;
}

.center {
	align: center;
}

img {
	border: 0 none;
}

img#floatright {
	float: right;
}

.fright {
	float: right;
	padding-left: 10px;
}
.fleft {
	float: left;
	padding-right: 10px;
}
/*********END FIXINS***********/






.prefooter {
	text-align: center;
	padding: 5px 10px 5px 10px;
}
#footer {
	background-color: #ffffff;
	text-align: center;
	padding: 8px;
	font-size: 12px;
	display: block;
	height: 80px;
}

#footer .left{
	float: left;
	width: 198px;
}
#footer .center{
	float: left;
	width: 192px;
}
#footer .right{
	float: left;
	width: 192px;
}
#footer .right2{
	float: left;
	width: 175px;
}
#footer .wide{
	text-align: center;
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
