.rshadow {
	height: 1%;
}

.content {
	height: 1%;
}
.clearfix {
	height: 1%;     /* triggers hasLayout */
}

ul.plist li {
	list-style: expression(/plist/.test(this.parentNode.className) ? 'none' : 'disc');
	margin: expression(/plist/.test(this.parentNode.className) ? '15px 0px' : 'auto');
}

div#conference ul.controls li a {
	border-left: expression(this.parentNode.previousSibling==null ? '0 none':'1px solid #333333');
	padding-left: expression(this.parentNode.previousSibling==null ? '0px':'5px');
}