<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                    <h1>About Us</h1>
                                    <p>
                                        &quot;To provide quality services that meet the personal financial needs of our
                                        members consistent with a financially sound Credit Union.&quot;
                                    </p>
                                    <p>
                                        A credit union is a cooperative, not-for-profit financial institution organized
                                        to promote thrift and provide credit to members. It is member-owned and controlled
                                        through a board of directors elected by the membership. The board serves on a
                                        volunteer basis and may hire a management team to run the credit union. The board
                                        also establishes and revises policy, sets dividend and loan rates, and directs
                                        certain operations. The result: members are provided with a safe, convenient
                                        place to save and borrow at reasonable rates at an institution which exists to
                                        benefit them, not to make a profit.
                                    </p>
                                        <%= link_to "Click here for frequently asked questions", faq_path %>. <%= image_tag "crowd3.jpg", :alt => '', :class => "fright" %>
                                    <p>
                                    </p>
                                    <p>
                                        Auto Club Federal Credit Union<br />
                                        18327 Gridley Road, Suite F<br />
                                        Cerritos, CA 90703<br />
                                        <br />
                                        Ph. 562-924-1843<br />
                                        Fax 562-924-5053
                                    </p>
                                </div>
                            </div>