<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                    <h1>eStatements</h1>
                                    <%= image_tag "estatements1.jpg", :class =>"fright", :alt => "eStatments" %>
                                    <p>
                                        With ACFCU's free eStatement service, there's no need to wait for
                                        your printed account statement to arrive in the mail. your account
                                        statement is sent to your home computer and can be easily viewed by
                                        logging onto ACFCU's secure Home Banking.
                                    </p>
                                    <p>There are other advantages too:</p>
                                    <ul class="pad">
                                        <li>eStatements can be saved into your computer's memory or printed out.</li>
                                        <li>You're notified by e-mail when your eStatement is available for viewing.</li>
                                        <li>You help the environment by saving paper.</li>
                                    </ul>
                                    <p>
                                        * Please note: You must log on to Home Banking in order to use eStatements.
                                        If you are new to Home Banking, choose &quot;Home Banking Log-In&quot; on
                                        our Home Page. Please use your <strong>personal e-mail address</strong> when
                                        you complete your enrollment for eStatements. <br />
                                        Once you enroll, you
                                        will be notified by e-mail <br />
                                        when your statement is available.
                                    </p>
                                    <p>
                                        If you already use ACFCU's Home Banking and want to receive eStatements,
                                        click <%= link_to 'here', root_path %> and log
                                        in to Home Banking.
                                    </p>
                                </div>
                            </div>