<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                    <h1>Become a Member</h1>
                                    <br />
                                    <p>
                                        Your lifetime membership begins with a $5 minimum Share Savings deposit plus a membership fee of $10.00. 
                                    </p>
                                    <p>
                                    Just <%= link_to "click here", "pdf/memberapp.pdf", :rel => 'external', :class => 'bold' %> to download and print our Invitation for Membership application. Complete your membership application and return it with a check and the items listed below to any branch and provide the items per our Customer Information Program listed below or... </p>
                                    <p>Mail it to:</p>
                                    <table class="contact">
                                        <tr>
                                            <th colspan="2"><strong>Auto Club Federal
                                            	Credit Union</strong></th>
                                        </tr>
                                        <tr>
                                            <td>Cerritos Corporate Offices<br />
                                                18327 Gridley Road, Suite F<br />
                                                Cerritos, CA 90703</td>
                                            <td>Costa Mesa Branch<br />
                                                3333 Fairview Road, A190<br />
                                                Costa Mesa, CA 92626</td>
                                        </tr>
                                    </table>
                                    <p>
                                        <strong>Customer Information Program</strong>: To help the government fight the funding of terrorism and money laundering activities, Federal law requires all financial institutions to obtain, verify and record information that identifies each person who opens an account. What this means for you: when you open an account, we will ask for your name, address*, date of birth and other information that will allow us to identify you. We may also ask to see your driver’s license or other identifying documents as follows:</p>
                                    <ol>
                                        <li>Drivers License (current name)</li>
                                        <li>Social Security Card (current name)</li>
                                        <li>Recent Paycheck stub</li>
                                        <li>Utility Bill with current address
                                            (address matching Drivers License)</li>
                                        <li>Check or money order payable to Auto
                                            Club Federal Credit Union (ACFCU)
                                            for $15.00 for lifetime membership
                                            fee and initial deposit.</li>
                                        <li>If there will be a joint owner on
                                            your account, please provide #1-4
                                            for he/she also.</li>
                                    </ol>
                                    <p><strong>*Valid physical address as proof of residence</strong>. We cannot accept a P.O. Box for the Invitation for Membership application. However, you may use a P.O. Box for your mailing address on the agreement. </p>
                                    <p><strong><%= link_to "Who is Eligible to Join?", faq_path(:anchor => 'Question6') %></strong> &nbsp;- Click here for more information. </p>
                                    <p><strong>If you wish to add</strong> a
                                        Joint Owner to your account or if you
                                        wish to request another Auto Club FCU
                                        Savings, Loan, or Service product please
                                        complete the Additional Services Request
                                        Form by clicking <%= link_to "here", "pdf/additional_services.pdf", :rel => 'external' %>.</p>
                                </div>
                            </div>