<div id="innercontent" class="clearfix">
                                <div id="main" class="clearfix">
                                <h1>Privacy Policy</h1>
                                <p>
                                    The Auto Club Federal Credit Union is owned by members and run by a
                                    board of directors you elect. You can be confident that your financial
                                    privacy is a top priority of this credit union. We are required by
                                    law to give you this privacy notice to explain how we collect, use
                                    and safeguard your personal financial information. If you have any
                                    questions, please contact a member service representative at (562)
                                    924 1843.
                                </p>
                                <p>
                                    We are committed to providing you with competitive products and services
                                    to meet your financial needs, which necessitates that we share information
                                    about you to complete your transactions and to provide you with certain
                                    financial opportunities. In order to do so, we have entered into agreements
                                    with other companies that provide either services to us or additional
                                    financial products for you to consider.
                                </p>
                                <p>
                                    Under these arrangements, we may disclose all of the information we
                                    collect, as described below, to companies that perform marketing or
                                    other services on our behalf or to other financial institutions with
                                    whom we have joint marketing agreements. To protect our members' privacy,
                                    we work only with companies that agree to maintain strong confidentiality
                                    protections and limit the use of information we provide. We do not
                                    permit these companies to sell to other third parties the information
                                    we provide them.
                                </p>
                                <h2>Information we collect and disclose about you:</h2>
                                <p>
                                    We collect the following nonpublic personal information about you from
                                    a variety of sources and may disclose all the information we collect
                                    to companies that perform marketing services on our behalf or to other
                                    financial institutions with whom we have joint marketing agreements:
                                </p>
                                <ul>
                                    <li>From membership and loan applications and other forms, we obtain
                                    	information such as name, address, social security number and income.&nbsp;</li>
                                    <li>From your transactions with us or other companies that work
                                    	closely with us to provide you with financial products and services,
                                    	we obtain information such as your account balances, payment history,
                                    	parties to transactions and credit card usage.&nbsp;</li>
                                    <li>From consumer reporting agencies, we obtain information such
                                    	as your creditworthiness and credit history.&nbsp;</li>
                                    <li>From verifications of information you provide on applications
                                    	and other forms, we obtain information from current or past employers,
                                    	other financial institutions and other sources listed on the application.</li>
                                </ul>
                                <p>
                                    We may also disclose information we collect about you under other
                                    circumstances as permitted or required by law. These disclosures typically
                                    include information to process transactions on your behalf, conduct
                                    the operations of the credit union, follow your instructions as you
                                    authorize, or protect the security of our financial records.
                                </p>
                                <p>
                                    If you terminate your membership with Auto Club Federal Credit Union,
                                    we will not share information we have collected about you, except as
                                    permitted by law.
                                </p>
                                <h2>How we protect your information:</h2>
                                <p>
                                    We restrict access to nonpublic personal information about you to those
                                    employees who have a specific business purpose in utilizing your data.
                                    Our employees are trained in the importance of maintaining confidentiality
                                    and member privacy. We maintain physical, electronic and procedural
                                    safeguards that comply with federal regulations and leading industry
                                    practices to safeguard your nonpublic personal information.
                                </p>
                                <p>&nbsp;</p>
                                <h2>INTERNET PRIVACY POLICY STATEMENT </h2>
                                <p>
                                    Thank you for visiting The Auto Club Federal&nbsp;Credit Union's Web
                                    site and reviewing our Internet Privacy Policy.
                                </p>
                                <p>
                                    Share One, Inc. is the host of our Web site. They collect information
                                    for statistical purposes only. This information includes page hits,
                                    files, and visits. This information is not shared with anyone. We collect
                                    no information from your visit&nbsp; which would identify you personally.
                                </p>
                                <p>Our server cannot capture remote e-mail addresses.</p>
                                <p>
                                    When you send us personally identifying information; for example, in an electronic
                                    mail message containing a question or comment or by filling out a form,
                                    we use this information to fulfill or respond to your requests. We
                                    may also store this information, including your e-mail address, for
                                    the purpose of communication with you electronically regarding credit
                                    union services, special promotions, etc. However, we do not sell our
                                    database to anyone; it is only used by The Auto Club Federal&nbsp;Credit
                                    Union to send our members and other inquirers useful information. The
                                    site is secure and there is no unauthorized use due to the high security
                                    Web Point Communication provides.
                                </p>
                                <p>
                                    The Auto Club Federal&nbsp;Credit Union does not use &quot;cookies.&quot; (A &quot;cookie&quot; is
                                    a file placed on your hard drive by a Web site that allows it to monitor
                                    your visit, usually without your knowledge.)
                                </p>
                                <p>
                                    Our credit union Web site contains links to other Web sites. The Auto
                                    Club Federal&nbsp;Credit Union is not responsible for the privacy
                                    practices or the content of such Web sites. If our member links to
                                    another site from any of our pages, they are leaving our site pages.
                                    The credit union cannot be held responsible for any information that
                                    may be gathered at a linked site.
                                </p>
                                <h2>USA PATRIOT ACT DISCLOSURE</h2>
                                <p>
                                    Federal law requires all financial institutions to obtain, verify, and record
                                    information that identifies each person who opens an account, in order to help
                                    the government fight the funding of terrorism and money laundering activities.
                                    What that means for you: When you open an account, we will ask for your name,
                                    address, date of birth, and other information that will allow us to identify
                                    you. We may also ask to see your driver's license and other identifying documents.
                                    Therefore:
                                </p>
                                <ul>
                                    <li>Please have the following items/information
                                        handy: Driver's license or state ID number, mother's maiden name, Social
                                        Security number for you and any of your joint owners and co-borrowers,
                                        as well as the name, address, and Social Security number for your beneficiaries. </li>
                                    <li>Applicants must meet all requirements for
                                   		membership in Auto Club Federal Credit Union.</li>
                                    <li>Account opening subject to verification
                                    	through a consumer reporting age.</li>
                                </ul>
                                </div>
                            </div>