<div id="innercontent" class="clearfix">
                                <p>&nbsp;</p>
								<%= image_tag "house.jpg", :class => "fleft", :alt => "" %>
                                </span>
                                </h2>
                                <h1>Real Estate Loans</h1>
                                    <p><strong>For a home loan let Auto Club Federal
                                    Credit Union and The Home Loan Center help!</strong> <br />
Whether you are purchasing, refinancing, or even looking for owning a home for
the first time. Home ownership may be closer than you think. </p>
                                    <p>
                                        Auto Club Federal Credit Union, in partnership
                                            with The Home Loan Center offers
                                            personalized service and a variety
                                            of loan products to fit your particular situation. </p>
                                <p>The<strong> <%= link_to "Home Loan Center", "http://www.cupartners.com/hlc.htm", :rel => "external" %></strong> has a special commitment
                                        to serving credit union members.</p>
                                <ul>
                                    <ul>
                                        <li>&deg; Purchase or Refinance </li>
                                        <li>&deg; Fixed Rate Specialist </li>
                                        <li>&deg; 1st Time Homebuyer Programs </li>
                                        <li>&deg; FHA and VA loans </li>
                                        <li>&deg; Jumbo Loans </li>
                                        <li>&deg; Reverse Mortgages </li>
                                    </ul>
                                </ul>
                                <p class="centertext">&nbsp;</p>
                                <p class="centertext">All of these programs feature competitive
                                    interest rates, flexible terms, and one on
                                    one service. <br />
                                    <strong><%= link_to "Click here to apply securely online for a Mortgage from the Home Loan Center", "http://www.cupartners.com/hlc.htm", :rel => "external" %> .</strong></p>
                                <p>&nbsp;</p>
                            </div>