<div id="innercontent" class="clearfix">
    <div id="main" class="clearfix">
        <h4>Transfer Your Credit Card Debt to ACFCU MasterCard and Save!</h4><br />
          <%= image_tag "debitcard.jpg", :class => "fright", :alt => "" %> 
        <p>ACFCU offers a Transfer and Save for MasterCard, Signature, and Auto
            Loans. Transfer and put money in your pocket! </p>
<ul>
    <li>Signature Loan rates as low as 9.99% APR</li>
          <li>MasterCard Intro/Balance Transfer Rate 9.99% APR for one year on new
            balances, transferred or new MasterCard accounts opened.</li>
          <li>Rates as low as 4.24% for New and Used Autos model years 2009 - 2004
            and Used Autos model years 2003 and older as low as 5.24%.</li>
        </ul>
          
          <p><%= link_to 'Click here to apply', onlineapplications_path %> .</p>
          <p class="smallprint">*APR=Annual Percentage Rate. All loans are subject to
            approval. Rates, terms and limits may vary and will be subject to applicant's
            credit profile and FICO score. See the credit union for complete details.</p>
	</div>
</div>
