 <div class="innercontent clearfix">
                                <div id="main">
                                    <h1>Fee Schedule</h1>
                                    <p>Money Market Checking-5000.00 (min. dep.)</p>
                                    <table class="fees">
                                        <tr>
                                            <td><strong>Membership Fee</strong></td>
                                            <td class="right"><strong>$10.00</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><strong>You must maintain a $5.00 min. balance in your saving 
                                                (regular  shares)&nbsp; account, at all times, in order to use the services of 
                                                the  credit union and/or&nbsp;&nbsp;to open any other accounts and/or Share 
                                                Certificate accounts, Including IRA's.&nbsp;&nbsp;Failure to maintain the minimum 
                                                balance may be grounds&nbsp;for Default of existing loans and/or the&nbsp;closure 
                                                of any&nbsp; and/or all accounts,&nbsp;with the inclusion of credit cards.</strong><br />
                                                <br />
                                                <p><strong>REGULAR SAVINGS (SHARE) ACCOUNT with ATM CARD SERVICE</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>ATM withdrawal fee per transaction</td>
                                            <td class="right">$1.00 (for share accounts without checking)</td>
                                        </tr>
                                        <tr>
                                            <td>POS not available for ATM Service for Regular Savings (Share)</td>
                                            <td class="right">$ .</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><strong>CHECKING ACCOUNT (WITH DIRECT DEPOSIT)</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Monthly Service Fee.</td>
                                            <td class="right">FREE</td>
                                        </tr>
                                        <tr>
                                            <td>Debit MaterCard - ATM financial
                                                transaction Fee per month<strong></strong></td>
                                            <td class="right">FREE</td>
                                        </tr>
                                        <tr>
                                            <td>Cash withdrawals</td>
                                            <td class="right">FREE</td>
                                        </tr>
                                        <tr>
                                            <td>Point of Sale Transactions (POS) </td>
                                            <td class="right">FREE</td>
                                        </tr>
                                        <tr>
                                            <td>ATM deposits and inquiries</td>
                                            <td class="right">FREE</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><strong>CHECKING ACCOUNT (WITHOUT DIRECT DEPOSIT)</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Monthly Service Fee</td>
                                            <td class="right">$4.00</td>
                                        </tr>
                                        <tr>
                                            <td>ATM Financial\per transaction</td>
                                            <td class="right">$1.00</td>
                                        </tr>
                                        <tr>
                                            <td>Point of Sale Transactions (POS)</td>
                                            <td class="right">25 cents</td>
                                        </tr>
                                        <tr>
                                            <td>ATM deposits and inquiries</td>
                                            <td class="right">FREE</td>
                                        </tr>
                                        <tr>
                                            <td>Return Item Fee (includes EFT Returns) </td>
                                            <td class="right">$25.00</td>
                                        </tr>
                                        <tr>
                                            <td>Items sent for Collection</td>
                                            <td class="right">At Credit Union Cost</td>
                                        </tr>
                                        <tr>
                                            <td>Per item Wire-Out Transfer Fee</td>
                                            <td class="right">each domestic wire&nbsp;&nbsp; $25.00&nbsp;<br />
                                                each - Foreign&nbsp; &nbsp;$35.00&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Excess Savings Withdrawal fee, After first withdrawel each month</td>
                                            <td class="right">&nbsp;each withdrawal $5.00&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>After first withdrawal each month</td>
                                            <td class="right">(Average Daily Balance under $300)</td>
                                        </tr>
                                        <tr>
                                            <td>Holiday or Vacation Club Early Withdrawal Penalty</td>
                                            <td class="right">$10.00</td>
                                        </tr>
                                        <tr>
                                            <td>Credit Union Check withdrawal <br />
                                                from ATM/Checking Account </td>
                                            <td class="right">$5.00</td>
                                        </tr>
                                        <tr>
                                            <td>Temporary Checks (minimum order of 10 checks)</td>
                                            <td class="right">$5.00</td>
                                        </tr>
                                        <tr>
                                            <td>Replacement Fee for ATM, Debit Card and/or PIN# </td>
                                            <td class="right">$5.00</td>
                                        </tr>
                                        <tr>
                                            <td>Negative Account Fee (negative over 30 days) </td>
                                            <td class="right">$25.00</td>
                                        </tr>
                                        <tr>
                                            <td>Dormant Account Fee</td>
                                            <td class="right">per account over 1 year dormant) $10.00</td>
                                        </tr>
                                        <tr>
                                            <td>Account Reconciliation/Research Fee</td>
                                            <td class="right"><p>&nbsp;per hour (1 hour minimum) $30.00</p></td>
                                        </tr>
                                        <tr>
                                            <td>Deposit Foreign items</td>
                                            <td class="right">At Credit Union Cost</td>
                                        </tr>
                                        <tr>
                                            <td>EFT Debit set-up fee</td>
                                            <td class="right">$3.00</td>
                                        </tr>
                                        <tr>
                                            <td>Reg. D tranfers fee</td>
                                            <td class="right">$1.50</td>
                                        </tr>
                                        <tr>
                                            <td>Over draft Manual transfer Fee</td>
                                            <td class="right">$10.00</td>
                                        </tr>
                                        <tr>
                                            <td><p>Checking account stop payment order</p></td>
                                            <td class="right"><p>$15.00</p></td>
                                        </tr>
                                        <tr>
                                            <td>Stop payment of CU Corporate Check</td>
                                            <td class="right">$20.00</td>
                                        </tr>
                                        <tr>
                                            <td>Photo copy of Check (from personal checking account)</td>
                                            <td class="right">&nbsp;each, after second copy per&nbsp;year&nbsp;$5.00&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>CU corporate check</td>
                                            <td class="right">each $5.00 </td>
                                        </tr>
                                        <tr>
                                            <td>Statement copies</td>
                                            <td class="right">&nbsp;per statement, $3.00</td>
                                        </tr>
                                        <tr>
                                            <td>account print-out (screen prints)&nbsp;&nbsp;</td>
                                            <td class="right">per page $1.00&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>MasterCard Standard Card, Shared Secured</td>
                                            <td class="right">$15 rebate-able for an annual revolving balance of $3,500&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>MasterCard Preferred Card</td>
                                            <td class="right">None</td>
                                        </tr>
                                        <tr>
                                            <td>Replacement for MasterCard (plastic card)</td>
                                            <td class="right">per card $5.00&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Cross-currency Trans. Fee (use of card in foreign country)</td>
                                            <td class="right">1% of total of transaction</td>
                                        </tr>
                                        <tr>
                                            <td>Money Market Checking Fee-$5000.00 min. bal.&nbsp;&nbsp;</td>
                                            <td class="right">Free</td>
                                        </tr>
                                        <tr>
                                            <td>Money Market Checking-5000.00 (min. dep.)</td>
                                            <td class="right">atm per transaction fee&nbsp;&nbsp; $0.00&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Money Market Checking Fee-$2500.00 min. bal.&nbsp;</td>
                                            <td class="right">monthly maint.' fee&nbsp;&nbsp;&nbsp;&nbsp; $5.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="right">ATM\Debit Card per transaction fee&nbsp;&nbsp; $0.00&nbsp;&nbsp;</td>
                                        </tr>
                                    </table>
                                    <p class="centertext">
                                        <strong>Money Market Checking Fee-$2500.00 min. bal.&nbsp;E
                                        OF FEES AND CHARGES <br />
                                        PART II<br />
                                        SHARE CERTIFICATE TERMS AND CONDITIONS</strong>
                                    </p>
                                    <p>
                                        Dividends are calculated daily based upon the actual balance in the account,
                                        and paid monthly. Dividends earned shall be added to the balance of this certificate
                                        unless the account owner whose name appears first on this account otherwise instructs
                                        the Credit Union, and as agreed by the Credit Union.<br />
                                        <br />
                                        A substantial penalty shall be imposed if certificate funds other than dividends
                                        are withdrawn before maturity date. The penalty shall be as follows:<br />
                                        <br />
                                        1.a. If the term of this certificate is less than or equal to six months, the
                                        member shall forfeit an amount equal to all dividends for 90 days on the amount
                                        withdrawn, or all dividends on the amount withdrawn since the date of issuance
                                        or renewal, whatever is less.<br />
                                        <br />
                                        1.b. If the term of this certificate is more than six months, then the member
                                        shall forfeit an amount equal to all dividends for 180 days on the amount withdrawn,
                                        or all dividends on the amount withdrawn since the date of issuance or renewal,
                                        whichever is less.<br />
                                        <br />
                                        1.c. Withdrawals must be made in $500.00 increments. All funds not withdrawn
                                        continue to earn dividends in accordance with the terms and conditions of the
                                        original certificate. However, if a withdrawal reduces the principal balance
                                        of this certificate below the required minimum, the terms and conditions of this
                                        certificate shall terminate and the balance shall be transferred immediatley
                                        to the member's Regular Share Account.<br />
                                        <br />
                                        2. The above stated penalties will not apply if the withdrawal is made subsequent
                                        to the death of any owner of the certificate account or is made pursuant to Article
                                        III, Section 5(e) of the Credit Union Bylaws or if such a withdrawal is made
                                        as a result of a voluntary or involuntary liquidation of the Credit Union.<br />
                                        <br />
                                        For additional terms and conditions please refer to the Auto Club Federal Credit
                                        Union Truth-In-Savings Disclosure Agreement provided to you.<br />
                                    </p>
                                    <p class="centertext">
                                        <strong>Phone information</strong>: 562-924-1843 or 714-850-5157</p>
                                    <p class="centertext">
                                        For Out of State- Toll Free 1-888-850-3529<br />
                                        &quot;MOM&quot; (Free Automated Telephone Service) 800-500-4066<br />
                                        <br />
                                        <strong>Office Hours:</strong> Monday to Friday (Excluding Holidays) <br />
                                        Open 8:30 am to 11:00 am<br />
                                        Closed 11:00 am to 12 noon<br />
                                        Re-Open 12 noon to 3:30 pm<br />
                                        <br />
                                        <span class="redbold">REVISED 04/01/2009</span>
                                    </p>
                                </div>
                            </div>