<div class="innercontent clearfix">
                                <div id="main">
                                    <h1>Info Desk</h1>
                                    <h3>Info Desk</h3>
                                    <p>Auto Club Federal&nbsp;Credit Union Information Desk</p>
                                    <p>In this area, you can find information about our site and the items
                                    	that we are offering you.</p>
                                    <p>We want to make as much information available for you as possible.
                                        You are able to access&nbsp;our 
                                        <%= link_to "Fee Schedule", cufees_path, :class => 'bold' %>,&nbsp;
                                        <strong><%= link_to "current rates", rate_path %></strong></a>, 
                                        <strong><%= link_to "online calculators", calculates_path %></strong> and 
                                        <strong><%= link_to "directory listings", contact_path %></strong>.
                                    </p>
                                </div>
                            </div>